<h1>Appointments</h1>

<p>Doctor: <%= link_to @app.doctor.name, doctor_path(@app.doctor) %></p>
<p>Patient: <%= link_to @app.patient.name, patient_path(@app.patient) %></p>
<p>Time: <%= @app.appointment_datetime.strftime("%B %d, %Y at %H:%M") %>